<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} &middot; Queue</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/index.min.css">
  </head>
  <body>
    <div class="page large margin-bottom container">
      <div class="columns">
        <div class="three-fourths column">
          Main data
        </div>
        <div class="one-fourth column">
          <nav class="menu">
            <div class="menu-heading">Monitor</div>
            <div class="menu-item">
              <span class="octicon octicon-server"></span>
              <span class="text-mute">Spark cluster</span>
            </div>
            <div class="menu-item">
              <span class="octicon octicon-eye"></span>
              <span class="text-green">Available</span>
            </div>
            <div class="menu-item">
              <span class="octicon octicon-link"></span>
              <a href="#">localhost:8080</a>
            </div>
            <div class="menu-heading"></div>
            <div class="menu-item text-mute">
              Queue v0.0.1 &middot; Apache 2.0
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
