<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} &middot; Queue</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/index.min.css">
  </head>
  <body>
    <header class="masthead">
      <div class="container">
        <nav class="masthead-nav">
          <a {% block index_active %}{% endblock %} href="/">Queue</a>
          <a {% block status_active %}{% endblock %} href="/status">Status</a>
        </nav>
      </div>
    </header>
    <div class="page large margin-bottom container">
      <div class="columns">
        {% block columns %}{% endblock %}
      </div>
    </div>
  </body>
</html>
