$container-width: 980px !default;
$grid-gutter:     10px !default;

// Brand colors
$brand-gray-light: #999    !default;
$brand-gray:       #666    !default;
$brand-gray-dark:  #333    !default;
$brand-red:        #e06c75 !default;
$brand-yellow:     #f1c868 !default;
$brand-blue:       #4c88e4 !default;
$brand-green:      #59cd30 !default;
$brand-orange:     #e5c07b !default;
$brand-purple:     #6e5494 !default;
$brand-teal:       #35a2b9 !default;

// Font stack
$body-font: 'Helvetica Neue', Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
