// Floats
.right { float: right; }

.left { float: left; }

// Layout
// Centers content horizontally. Can be used inside or outside the grid.
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// Muted link
a.link-muted {
  color: #777;

  &:hover,
  &:active {
    color: $brand-blue;
    text-decoration: none;
  }
}

// Text alignment
.text-right { text-align: right; }

.text-left { text-align: left; }

// Text weight
.text-bold { font-weight: bold !important;}

.text-thin { font-weight: 300 !important;}

// Text size
.text-large { font-size: 30px !important; }

.text-small { font-size: 8px !important; }

// Text states
.text-blue { color: $brand-blue; }

.text-success,
.text-green { color: $brand-green; }

.text-error,
.text-danger,
.text-failure,
.text-red { color: $brand-red; }

.text-orange { color: $brand-orange; }

.text-purple { color: $brand-purple; }

.text-yellow { color: $brand-yellow; }

.text-teal { color: $brand-teal; }

.text-mute { color: #777; }

.text-blur { color: #ccc; }

.text-emphasized {
  font-weight: bold;
  color: #333;
}

.text-mono { font-family: $mono-font; }

.focused-outline {
  border-color: #51a7e8 !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5) !important;
}

// Misc
.hidden {
  display: none;
}

.warning-box {
  padding: 0.5em;
  margin-bottom: 0.8em;
  font-weight: bold;
  background-color: #fffccc;
}

.success-box {
  padding: 1em;
  font-weight: bold;
  background-color: #e2eef9;
  border: 1px solid #bac6d3;
}

.error-box {
  padding: 1em;
  font-weight: bold;
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
}

.margin-bottom {
  &.small { margin-bottom: 10px; }

  &.medium { margin-bottom: 20px; }

  &.large { margin-bottom: 50px; }
}

.margin-right {
  &.small { margin-right: 10px; }

  &.medium { margin-right: 20px; }

  &.large { margin-right: 50px; }
}
